<div>
    <a class="btn btn-secondary" href="/" style="position:relative; left:0em"><i class="fas fa-boxes"></i> Inventory </a>
    <a class="btn btn-secondary" href="/shipment" style="position:relative; left:1em"><i class="fas fa-truck"></i> Shipments </a>        
    <hr>
</div>

<h3>Inventory Item List</h3>

<a class="btn btn-secondary" href="/item/create" style="position:absolute; right:0;">Create Item</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.category}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.price}}</td>
            <td>
                <a href="/item/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/item/delete/{{this._id}}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>